<div class="Job index">
	<h1>Job</h1>
	<%= link_to("Create new yours Job Description ",'users/new',:class => 'action new') %>


	<table class="listing" summary= "Job list">
		<tr class="header">
			<th>Job Tittle</th>
			<th>Experience</th>
			<th>Salery</th>
			<th>User id</th>
		</tr>
		<% @posts.each do |post|%>
		<tr>
			<td><%= post.post_title %></td>
			<td><%= post.experience %></td>
			<td><%= post.salary%></td>
			<td><%= post.user_id%></td>

			<td class="action">
				<%= link_to("Show",post_path(post.id),:class => 'action show')%>
				<%= link_to("Edit", edit_post_path(post.id),:class => 'action edit')%>
				<%= link_to("Delete", delete_post_path(post.id) ,:class => 'action delete')%>
			</td>
		</tr>
		<%end%>
	</table>
</div>