  <h1>Hello, Users!</h1>

<% if !flash[:notice].blank?%>
<div class = "notice">
	<%= flash[:notice]%>
</div>
<%end%>


<%= link_to("Back TO LIST",post_path,:class => 'back-link')%>
<div class = "Job show">
	<h1>Show Post</h1>
	<table summary="Job details view">
		<tr>
			<th>Job Title</th>
			<td><%=@posts.post_title%></td>
		</tr>
		<tr>
			<th>Experience</th>
			<td><%= @posts.experience%></td>
		</tr>
		<tr>
			<th>Salery</th>
			<td><%= @posts.salary %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @posts.created_at%></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%=@posts.updated_at%></td>
		</tr>
	</table>
</div>