<div class = "Applied Job">
  <h1>Applied Jobs are</h1>
  <%= will_paginate @posts %>
  <table class="table table-striped table-hover">
    <thead>
      <th>Post Title</th>
      <th>Applied At</th>
      <th>applied By</th>
    </thead>
    <tbody>
      <%@posts.each_with_index do |post, index|%>
        <tr>
          <td><%= post.post_title%></td>
          <td>
            <%post.applieds.each_with_index do |applied, index|%>
              <tr>
                <td></td>
                <td><%= applied.applied_by.try(:email)%></td>
                <td><%= "#{time_in_words applied.created_at} ago" %></td>
              </tr>
            <% end%>
          </td>
        </tr>
      <% end%>
    </tbody>
      
  </table>
  <%= will_paginate @posts %>
</div>