<% if !flash[:notice].blank?%>
<div class = "notice">
	<%= flash[:notice]%>
</div>
<%end%>

<div class = "Job show">
	<h1>Show Post</h1>
	<table class="table table-striped table-hover">
		<tr>
			<th>Job Title</th>
			<td><%=@post.post_title%></td>
		</tr>
		<tr>
			<th>Experience</th>
			<td><%= @post.experience%></td>
		</tr>
		<tr>
			<th>Salery</th>
			<td><%= @post.salary %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= time_ago_in_words(@post.created_at) %></td>
		</tr>
	</table>
</div>